#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* navbar kısmı baslangıc */
header.masthead {
  position: relative;
  margin-bottom: 3rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  background-size: cover;
}
header.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/src/img/hero.jpeg);
}
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  color: #fff;
}
header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}
header.masthead .page-heading h1, header.masthead .page-heading .h1,
header.masthead .site-heading h1,
header.masthead .site-heading .h1 {
  font-size: 3rem;
}
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin-top: 0.625rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading h1, header.masthead .post-heading .h1 {
  font-size: 2.25rem;
}
header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}
header.masthead .post-heading .subheading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.75rem 0 2rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading .meta {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading .meta a {
  color: #fff;
}
@media (min-width: 992px) {
  header.masthead {
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .page-heading h1, header.masthead .page-heading .h1,
  header.masthead .site-heading h1,
  header.masthead .site-heading .h1 {
    font-size: 5rem;
  }
  header.masthead .post-heading h1, header.masthead .post-heading .h1 {
    font-size: 3.5rem;
  }
  header.masthead .post-heading .subheading {
    font-size: 1.875rem;
  }
}

.but{
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
.but-yesil{
  border: 1px solid var(--headerbeprobutton);
  color: var(--headerbeprobutton);
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  color: green;
}

.section-heading {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 3.75rem;
}

.caption {
  font-size: 0.875rem;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 0.625rem;
  text-align: center;
}

.post-preview > a {
  color: #212529;
}
.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}
.post-preview > a > .post-title {
  font-size: 1.875rem;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}
.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin-bottom: 0.625rem;
}
.post-preview > .post-meta {
  font-size: 1.125rem;
  font-style: italic;
  margin-top: 0;
  color: #6c757d;
}
.post-preview > .post-meta > a {
  text-decoration: none;
}
@media (min-width: 992px) {
  .post-preview > a > .post-title {
    font-size: 2.25rem;
  }
}
/* navbar kısmı bitisi */




/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/* Footer Kısmı Baslangıc */

footer {
  width: 1349px;
  height: 425px;
  background: #404259 ;
  margin-top: 10px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footerDesc {
  width: 1349px;
  height: 425px;
  margin: 0 auto;
}

.footerComment {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.armutFooter {
  color: black;
  margin-left: 100px;
  margin-right: 50px;
  margin-bottom: 16px;
  margin-top: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.armutFooterYazilar {
  display: flex;
  color: black;
  row-gap: 8px;
  margin-left: 100px;
  width: 130px;
  
}

.footerFirstStatemenet {
  display: grid;
  align-items: center;
  margin-left: 100px;
  margin-bottom: 25px;
}

.statment {
  display: grid;
}

.footerFirstStatemenet a {
  text-decoration: none;
  color: #191919;
}

.lowerFooter {
  display: grid;
  justify-content: space-between;
  width: 340%;
  margin-top: 5px;
  margin-left: 100px;
  margin-bottom: 25px;
  gap: 12px;
}

/* Footer Kısmı Bitis */